<!DOCTYPE html>
<html>
<head>
  <link href='http://fonts.googleapis.com/css?family=Oxygen:400,700,300' rel='stylesheet' type='text/css'>  <title> CookingGenius </title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/themes/smoothness/jquery-ui.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.4/jquery-ui.min.js"></script>
  <%= csrf_meta_tags %>

  <script>
    CookingGenius.units = <%= RecipesIngredient::UNITS.to_json.html_safe %>;
    CookingGenius.recipeTags = <%= Recipe::TAGS.to_json.html_safe %>;

    $(document).ready(function() {
      CookingGenius.initialize({});
    });

    $(document).on({
        ajaxStart: function() { $("#content").addClass("loading"); },
        ajaxStop: function() { $("#content").removeClass("loading"); }
    });
  </script>

</head>
<body>

<%= render "partials/logged_in", user: current_user %>
<div id="content"></div>
<%= yield %>
<div class="modal"></div>

</body>
</html>
