<div class="group">

<h1 class="user-name group"> <%= user.escape("name") %> </h1>

<% if (CookingGenius.currentUser.id && this.model.id != CookingGenius.currentUser.id) {%>
<button class="toggle-user-upvote">
  <p class="num-votes"> <%= user.get("num_votes") %> </p>
  <p class="arrow">
    &#8607;
  </p>
</button>
<% } else { %>
  <div class="toggle-user-upvote">
    <p class="num-votes"> <%= user.get("num_votes") %> </p>
    <p class="arrow">
      &#8607;
    </p>
  </div>
<% } %>
</div>

<h2>
<% if (user.authoredRecipes().length > 0) { %>
  <% if (user.id == CookingGenius.currentUser.id) { %>
    My Recipes
  <% } else { %>
    <%= user.escape("name") %>'s Recipes
  <% } %>
</h2>
<% } else { %>
  <%   if (user.id == CookingGenius.currentUser.id) { %>
    You haven't added any recipes!
  <% } else { %>
    <%= user.escape("name") %> has not added any recipes!
  <% } %>
<% } %>

<div class="new-recipe"></div>

<% if (user.id == CookingGenius.currentUser.id) { %>
<button class="display-recipe-form"> Add a Recipe </button>
<% } %>

<ul class="authored-recipes"></ul>
