<button class="minimize-annotation"> x </button>

<p> <%= annotation.get("body") %> </p>

<% var userUrl = "#/users/" + annotation.author().id %>

<p>
by <a href="<%= userUrl %>"> <%= annotation.author().escape("name") %> </a>
</p>

<p class="num_votes"> Upvotes: <%= annotation.votes().length %> </p>

<% if (annotation.author().id != CookingGenius.currentUser.id) { %>
<button class="toggle-annotation-upvote">
  <p class="num_votes"> <%= annotation.votes().length %> </p>
  <p class="arrow">
    <% if (annotation.votes().where({voter_id: CookingGenius.currentUser.id}).length > 0) { %>
        &#8609;
    <% } else { %>
        &#8607;
    <% } %>
  </p>
</button>
<% } %>
