<button class="minimize-annotation"> x </button>

<div class="show-annotation group">
  <p> <%= annotation.get("body") %> </p>

  <% var userUrl = "#/users/" + annotation.author().id %>

  <p>
  by <a href="<%= userUrl %>"> <%= annotation.author().escape("name") %> </a>
  </p>

  <% if (annotation.author().id != CookingGenius.currentUser.id) { %>
  <button class="toggle-annotation-upvote">
    <p class="num_votes"> <%= annotation.votes().length %> </p>
    <p class="arrow">
      &#8607;
    </p>
  </button>
  <% } else { %>
    <div class="upvotes"> <%= annotation.votes().length %> &#8607; </div>
  <% } %>
</div>

<div class="annotation-image">
  <% if (annotation.get("image_url") != "/images/original/missing.png") { %>
    <img src="<%= annotation.get("image_url") %>">
  <% } %>
</div>

<form class="reply-form group">
  <textarea class="reply-text" rows="1" cols="150"></textarea>
  <button class="reply">Reply</button>
</form>

<ul class="replies"> </ul>
