<div class="header">
<% if current_user %>
 <nav class="logged-in group">

  <form action="<%= session_url%>" method="post">
    <%= authenticity_token %>
    <input type="hidden" name="_method" value="delete">
    <button>log out</button>
  </form>

  <% user_url =  "#/users/#{user.id}" %>
  <h3> logged in as <a href="<%= user_url %>"> <%= user.name %> </a></h3>

  <h3 class="home">
    <a href="#"></a>
  </h3>

</nav>
<% else %>
<nav class="logged-in group">
 <h3><a href="<%= new_session_url %>"> Log In </a></h3>

 <h3 class="home">
   <a href="#"></a>
 </h3>

<% end %>
</div>
