<% var timestamp = new Date().getTime() %>

<label>
  Quantity
  <input class="quantity" type="text" name="recipe[recipe_ingredients][<%= timestamp %>][quantity]" value="">
</label>

<label>
  Unit
  <select class="units" name="recipe[recipe_ingredients][<%= timestamp %>][unit]">
    <% for (var i = 0; i < CookingGenius.units.length; i++) { %>
      <option value="<%= CookingGenius.units[i] %>"><%= CookingGenius.units[i] %></option>
    <% } %>
  </select>
</label>

<label>
  Name
  <input type="text" name="recipe[recipe_ingredients][<%= timestamp %>][name]">
</label>

<label class="checkbox">
  Optional?
  <input id="optional" type="checkbox" name="recipe[recipe_ingredients][<%= timestamp %>][optional]">
  <span></span>
</label>

<button class="delete-ingredient"> - </button>
