<h1 class="recipe-title"><%= recipe.get("title") %> </h1>
<h3>category: <%= recipe.get("primary_tag") %></h3>

<p class="num_votes"> Upvotes: <%= recipe.votes().length %> </p>
<% if (this.model.get("author_id") != CookingGenius.currentUser.id) {%>
<button class="toggle-recipe-upvote">
  <% if (this.model.votes().where({voter_id: CookingGenius.currentUser.id}).length > 0) { %>
    Downvote
  <% } else { %>
    Upvote
  <% } %>
</button>
<% } %>

<p class="servings"> Serves <%= recipe.escape("servings") %> </p>

<h3> Ingredients </h3>
<ul class="ingredients"></ul>

<h3> Instructions </h3>
<pre class="instructions">
<%= recipe.escape("instructions") %>
</pre>

<div class="annotation-pop-up"></div>

<% if (CookingGenius.currentUser.id == recipe.get("author_id")) { %>
  <button class="delete-recipe">Delete This Recipe</button>
<% } %>
