<div class="recipe-image">
  <img src="<%= recipe.get("image_url") %>">
<div class="header-text">

<h1 class="group recipe-title">
  <strong>
    <%= recipe.escape("title") %>
  </strong>
</h1>

<h2 class="category group">
  <strong>
    category: <%= recipe.get("primary_tag") %>
  </strong>
</h2>
<% var userURL = "#users/" + recipe.author().id %>

<h3 class="author group">
  <strong>
    by <a href="<%= userURL %>"> <%= recipe.author().escape("name") %> </a>
  </strong>
</h3>
</div>


<% if (this.model.get("author_id") != CookingGenius.currentUser.id) {%>
<button class="toggle-recipe-upvote">
  <p class="num-votes"> <%= recipe.get("num_votes") %> </p>
  <p class="arrow">
    &#8607;
  </p>
</button>
<% } else { %>
  <div class="upvotes"> <%= recipe.get("num_votes") %> &#8607; </div>
<% } %>
</div>

<h3 class="servings"> Serves <%= recipe.escape("servings") %> </h3>


<% if (CookingGenius.currentUser.id == recipe.get("author_id")) { %>
  <button class="delete-recipe">Delete This Recipe</button>
<% } %>

<h3> Ingredients </h3>
<ul class="ingredients"></ul>

<h3> Instructions </h3>
<pre class="instructions">
<%= recipe.escape("instructions") %>
</pre>

<div class="annotation-pop-up group"></div>
