<div class="recipe-image">
<img src="<%= recipe.get("image_url") %>">
<h1 class="recipe-title"><%= recipe.escape("title") %> </h1>
<h3 class="category">category: <%= recipe.get("primary_tag") %></h3>
<% var userURL = "#users/" + recipe.author().id %>
<p class="author">By <a href="<%= userURL %>"> <%= recipe.author().escape("name") %> </a></p>
</div>

<% if (this.model.get("author_id") != CookingGenius.currentUser.id) {%>
<button class="toggle-recipe-upvote">
  <p class="num_votes"> <%= recipe.votes().length %> </p>
  <p class="arrow">
    <% if (recipe.votes().where({voter_id: CookingGenius.currentUser.id}).length > 0) { %>
        &#8609;
    <% } else { %>
        &#8607;
    <% } %>
  </p>
</button>
<% } %>

<p class="servings"> Serves <%= recipe.escape("servings") %> </p>

<h3> Ingredients </h3>
<ul class="ingredients"></ul>

<h3> Instructions </h3>
<pre class="instructions">
<%= recipe.escape("instructions") %>
</pre>

<div class="annotation-pop-up"></div>

<% if (CookingGenius.currentUser.id == recipe.get("author_id")) { %>
  <button class="delete-recipe">Delete This Recipe</button>
<% } %>
