<div class="recipe-image">
<img src="<%= recipe.get("image_url") %>">
<div class="header-text">
<h1 class="recipe-title"><%= recipe.escape("title") %> </h1>
<h3 class="category">category: <%= recipe.get("primary_tag") %></h3>
<% var userURL = "#users/" + recipe.author().id %>
<p class="author">By <a href="<%= userURL %>"> <%= recipe.author().escape("name") %> </a></p>

<% if (this.model.get("author_id") != CookingGenius.currentUser.id) {%>
<button class="toggle-recipe-upvote">
  <p class="num_votes"> <%= recipe.votes().length %> </p>
  <p class="arrow">
    &#8607;
  </p>
</button>
<% } else { %>
  <div class="upvotes"> <%= recipe.votes().length %> &#8607; </div>
<% } %>

</div>
</div>

<p class="servings"> Serves <%= recipe.escape("servings") %> </p>


<% if (CookingGenius.currentUser.id == recipe.get("author_id")) { %>
  <button class="delete-recipe">Delete This Recipe</button>
<% } %>

<h3> Ingredients </h3>
<ul class="ingredients"></ul>

<h3> Instructions </h3>
<pre class="instructions">
<%= recipe.escape("instructions") %>
</pre>

<div class="annotation-pop-up group"></div>
