<p class="reply-body">
<%= reply.escape("body") %>
</p>

<% var authorID = reply.author().id || CookingGenius.currentUser.id %>
<% var authorURL = "#/users/" + authorID %>
<% var authorName = reply.author().get("name") || CookingGenius.currentUser.get("name") %>

<p class="reply-author">
- <a href="<%= authorURL %>"> <%= authorName %> </a>
</p>

<div class="group">
  <% if (CookingGenius.currentUser.id && reply.author().id != CookingGenius.currentUser.id) {%>
  <button class="toggle-reply-upvote">
    <p class="num-votes"> <%= reply.get("num_votes") %> </p>
    <p class="arrow">
      &#8607;
    </p>
  </button>
  <% } else { %>
    <div class="toggle-reply-upvote inactive">
      <p class="num-votes"> <%= reply.get("num_votes") %> </p>
      <p class="arrow">
        &#8607;
      </p>
    </div>
  <% } %>
</div>
