<p class="reply-body">
<%= reply.escape("body") %>
</p>

<% var authorID = reply.author().id || CookingGenius.currentUser.id %>
<% var authorURL = "#/users/" + authorID %>
<% var authorName = reply.author().get("name") || CookingGenius.currentUser.get("name") %>

<p class="reply-author">
- <a href="<%= authorURL %>"> <%= authorName %> </a>
</p>

<div class="group">
<% if (reply.author().id !== CookingGenius.currentUser.id && reply.author().id !== undefined) {%>
<button class="toggle-reply-upvote">
  <p class="num_votes"> <%= reply.votes().length %> </p>
  <p class="arrow">
    &#8607;
  </p>
</button>
<% } else { %>
  <div class="upvotes"> <%= reply.votes().length %> &#8607; </div>
<% } %>
</div>
