<!DOCTYPE html>
<html>
<head>
  <title>CookingGenius</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "partials/logged_in", user: current_user %>

<%= yield %>

<%= render "partials/errors" %>

</body>
</html>
